/server/target/
/web-client/node_modules/
/web-client/dist/
/web-client/.env
/server/.env
/server/src/main/resources/application.properties
/server/src/main/resources/application-dev.properties
/server/src/main/resources/application-prod.properties
# Local Netlify folder
.netlify
